<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2>Profit Report</h2>

<table>
  <tr>
    <th>Months Name</th>
    <th>Total Sale Amount</th>
    <th>Profit</th>
  </tr>
  <tr>
    <td>January</td>
    <td>25000 Taka</td>
    <td>1.5%</td>
  </tr>
  <tr>
    <td>February</td>
    <td>32000 Taka</td>
    <td>2.0%</td>
  </tr>
  <tr>
    <td>March</td>
    <td>35000 Taka</td>
    <td>2.5%</td>
  </tr>
  <tr>
    <td>April</td>
    <td>38000 Taka</td>
    <td>3.0%</td>
  </tr>
  <tr>
    <td>May</td>
    <td>40000 Taka</td>
    <td>3.5%</td>
  </tr>
  <tr>
    <td>June</td>
    <td>42000 Taka</td>
    <td>4.0%</td>
  </tr>
</table>

</body>
</html>


