<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <fieldset>
        <legend>Company Products Available : </legend>

       
        <p>SQUARE</p>
        <br>
            <input type ="submit" name ="napa" value = '10 Pcs 100/-'>
            <br>
           <p>ACME</p> 
           <br>
            <input type ="submit" name ="ace" value = '10 Pcs 120/-'>
            <br>
            <br>
            <p>BEXIMCO</p>
            <br>
            <input type ="submit" name ="zeldrin" value = '10 Pcs 60/-'>
            <br>
            
            <label ></label>
            
        
            

        <br>

    
</body>
</html>