<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <legend>Pharmacist List: </legend>

    <label >Pharmacist Name</label>
        <input type ="submit" name ="Mafruhi" value = "Mafruhi">
        <br>
        <label >Imran</label>
        <input type ="submit" name ="imran" value = "Imran">
        <br>
        <label >Anik</label>
        <input type ="submit" name ="anik" value = "Anik">
        <br>
        <br>
    <form action="../view/add pharmacist.html"><input type="submit" value="Add Pharmacist"></form>
    <br>
    <form action="../view/delete_user.html"><input type="submit" value="Delete Pharmacist"></form>
    <br>
    <br>
    
        

</body>
</html>
</body>
</html>

